<div class="d-grid d-flex align-items-center">
    <nav aria-label="breadcrumb" class="mt-3 ms-4 me-4 pe-4 pt-2 ps-3 rounded-5" style="border: 2px #555 solid">
        <ol class="breadcrumb mt-1">
            <li class="breadcrumb-item fs-3 fs-4">
            </li>
          <li class="breadcrumb-item fs-4" *ngFor="let crumb of breadcrumbs; let last = last" [class.active]="last">
            <ng-container *ngIf="!last; else lastBreadcrumb">
              <a routerLink="/{{ crumb | lowercase }}">{{ crumb }}</a>
            </ng-container>
            <ng-template #lastBreadcrumb>{{ crumb }}</ng-template>
          </li>
        </ol>
    </nav>
</div>