
<h3 class="ms-5 mt-5" style="color: #444;">Your Storage Spaces</h3>
<div class="container mt-5 pt-3 rounded-4" style="max-height: 1200px; overflow-y: auto; background-color: #eee;">
  <div *ngFor="let space of storageSpaces" class="card mb-3 rounded-4" style="cursor: pointer; background-color:  #d8d8d8 ;" (click)="goToDetails(space.name)">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{space.imageURL}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{space.name}}</h5>
          <p class="card-text">{{space.description}}</p>
          <!-- Additional metadata here -->
        </div>
      </div>
    </div>
  </div>
</div>
