<div class="card col-xl-8 offset-xl-2 mt-3 rounded-4" style="background-color: #bbb;" *ngIf="storageSpace" >
  <div class="card-body" [ngStyle]="myStyles">
    <img src="{{storageSpace.imageURL}}" class="img-fluid rounded-4 mb-2 d-block mx-auto" alt="📦Storage Space Image 📦">
    <h4 class="card-title" style="color: #333;">{{ storageSpace.name | capitalizeAndReplace}}</h4>
    <p class="card-text" style="color: #444;">{{ storageSpace.description }}</p>
    <div class="card-text mt-2 mb-3" *ngIf="storageSpace.tags.length > 0">
      <small class="text-muted">🏷</small>
      <span class="ms-1 me-1 pb-1 ps-3 pe-3 rounded-4" *ngFor="let tag of storageSpace.tags" style="border: 1.5px #888 solid; color: #888;">{{ tag.name }}</span>
    </div>
    <div class="card" style="background-color: #d8d8d8;">
      <div class="card-body">
        <h4 class="card-title" style="color: #333;">Items</h4>

        <div class="my-3" *ngIf="!isCreatingItem">
          <button class="btn swims-btn me-2" (click)="showCreateItemForm()">Create New Item</button>

          <span style="color:#555">|</span>

          <button type="button" class="btn swims-btn-sort ms-2" (click)="sortByNameAsc()">Name <i class="bi bi-arrow-up"></i></button>
          <button type="button" class="btn swims-btn-sort ms-2" (click)="sortByNameDesc()">Name <i class="bi bi-arrow-down"></i></button>
          <button type="button" class="btn swims-btn-sort ms-2" (click)="sortByQuantityAsc()">Quantity <i class="bi bi-arrow-up"></i></button>
          <button type="button" class="btn swims-btn-sort ms-2" (click)="sortByQuantityDesc()">Quantity <i class="bi bi-arrow-down"></i></button>

        </div>

        <div *ngIf="isCreatingItem" class="create-item-form p-3 rounded-3 mb-2" style="border: 4px #eee solid">
          <h4 style="color: #444;">Create New Item</h4>

          <div *ngIf="itemCreationFailedMessage" class="alert alert-danger">
            {{ itemCreationFailedMessage }}
          </div>

          <div *ngIf="itemCreationSuccesfullMessage" class="alert alert-success">
            {{ itemCreationSuccesfullMessage }}
          </div>

          <form (ngSubmit)="createItem()" #itemForm="ngForm" class="mb-1">
            <div class="mb-3 form-floating">
              <input type="text" class="form-control" id="itemName" [(ngModel)]="newItem.name" placeholder="" name="name" required [ngModelOptions]="{updateOn: 'blur'}" [pattern]="namePattern" minlength="3">
              <label for="itemName">Name Of The Item</label>
              <div *ngIf="!itemForm.form.controls['name'].valid && itemForm.form.controls['name'].touched" class="ms-2" style="color: #a11;">
                Name cannot be empty, start/end with a space or be less than 3 characters long
              </div>
            </div>
        
            <div class="mb-3 form-floating">
              <textarea class="form-control" id="itemDescription" [(ngModel)]="newItem.description" placeholder="" name="description" style="resize:none"></textarea>
              <label for="itemDescription">Item Description</label>
            </div>
        
            <div class="mb-3 form-floating">
              <input type="number" class="form-control" id="itemQuantity" [(ngModel)]="newItem.quantity" name="quantity" required min="1">
              <label for="itemQuantity" class="form-label">Quantity</label>
            </div>

            <div class="mb-3 form-floating">
              <input type="text" class="form-control" id="storageSpaceName" [(ngModel)]="newItem.storageSpaceName" placeholder="" name="storageSpaceName" readonly style="user-select: none;">
              <label for="storageSpaceName" style="user-select: none;">Storage Space Name</label>
            </div>            

            <button type="submit" class="btn swims-btn" [disabled]="!itemForm.form.valid">Create Item</button>
            <button type="button" class="btn swims-btn ms-2" (click)="cancelCreation()">Cancel</button>
          </form>
        </div>

        <div class="mt-1" *ngFor="let item of items">
          <div class="card h-100" style="background-color: #eee">
            <div class="card-body">

              <div class="row">
                <div class="col-md-3">
                  <h5 class="card-title">{{ item.name | capitalizeAndReplace }}</h5>
                </div>
                <div class="col-md-9">
                  <p class="card-text" *ngIf="!item.isEditing" style="color: #555">{{ item.description }}</p>
                </div>
              </div>
        
              <div class="row">
                <div class="col-md-9 form-floating">
                  <p class="card-text"><small class="text-muted" *ngIf="!item.isEditing">Quantity: {{ item.quantity }}</small></p>
                  <input type="number" class="form-control mb-2" [(ngModel)]="item.quantity" *ngIf="item.isEditing" required min="1">
                  <textarea class="form-control" [(ngModel)]="item.description" *ngIf="item.isEditing" style="resize:none"></textarea>
                </div>
                <div class="col-md-3 text-end">
                  <button type="button" class="btn swims-btn" (click)="startEditing(item)" *ngIf="!item.isEditing">Update</button>
                  <button type="button" class="btn swims-btn" (click)="submitUpdate(item)" *ngIf="item.isEditing">Submit</button>
                  <button type="button" class="btn swims-btn-danger ms-2" (click)="deleteItem(item.name, storageSpace.name)">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
    </div>
  </div>
</div>

<div style="position: fixed; z-index: 1050;" class="end-0 top-0">
  <div *ngIf="showSuccessToast" class="toast" style="min-width: 200px;" [class.show]="showSuccessToast">
    <div class="toast-body">
      Item Succesfully Updated!
    </div>
  </div>

  <div *ngIf="showFailureToast" class="toast" style="min-width: 200px;" [class.show]="showFailureToast">
    <div class="toast-body" style="background-color: #f66;">
      Item Update Failed!
    </div>
  </div>
</div>