<div class="card p-3 m-4 rounded-4 row" *ngIf="storageSpace" [style.background-image]="'url(' + (storageSpace.imageURL) + ')'" style="height: calc(100vh - 150px); overflow-y: auto; border: 8px #ccc solid">
    <div class="card col-xl-8 offset-xl-2 mt-2" style="background-color: #bbb;">
      <div class="card-body">
        <h4 class="card-title">{{ storageSpace.name | capitalizeAndReplace}}</h4>
        <p class="card-text">{{ storageSpace.description }}</p>
        <div class="card-text mt-2 mb-3" *ngIf="storageSpace.tags.length > 0">
          <small class="text-muted">🏷</small>
          <span class="ms-1 me-1 pb-1 ps-3 pe-3 rounded-4" *ngFor="let tag of storageSpace.tags" style="border: 1.5px #888 solid; color: #888;">{{ tag.name }}</span>
        </div>
        <!-- ITEM LIST BELOW -->
        <div class="card" style="background-color: #d8d8d8;">
          <div class="card-body">
            <h5 class="card-title">Items</h5>
          </div>
        </div>
      </div>
    </div>
</div>




