<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mt-5">
        <!-- Login Form -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Sign In</h3>
                <div *ngIf="loginFailedMessage" class="alert alert-danger">
                    {{ loginFailedMessage }}
                  </div>
                <form (ngSubmit)="login()">
                    <!-- Username Field -->
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" placeholder="Enter username">
                    </div>
                    <!-- Password Field -->
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" placeholder="Password">
                    </div>
                    <!-- Sign In Button -->
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>