<style>
@media (min-width: 1200px) {
    .swims-navbar {
        height: 100vh; /* 100% of the viewport height */
    }
}
</style>

<nav class="d-flex flex-column align-items-center justify-content-between p-4 swims-navbar">
  <div class="d-grid w-100">
    <div class="d-flex align-items-center justify-content-between mb-3 mx-3">
      <div class="d-grid d-flex align-items-center">
        <a class="navbar-brand" href="#">
          <img src="../../assets/images/box_logo.png" alt="Logo" style="height: 50px;">
          <span class="fs-2 ms-2" style="color:#444">SWIMS</span>
        </a>
      </div>
      <div>
        <button *ngIf="!isXlScreen" class="btn swims-nav-button" style="font-size: 1.5em" (click)="toggleNavbar()">
          <i class="bi bi-list ms-3 me-3"></i>
        </button>
      </div>
    </div>
    <div class="d-grid" *ngIf="isXlScreen || isNavbarCollapsed">
      <a class="btn swims-nav-button d-flex align-items-center p-3 mb-3" routerLink="" [ngClass]="{' flex-column justify-content-center': isXlScreen, 'justify-content-start': !isXlScreen}">
        <span class="fs-4 ms-4 me-4" [ngClass]="{'': isXlScreen, 'order-2': !isXlScreen}">Dashboard</span>
        <i class="bi bi-house-door-fill" [ngStyle]="{'font-size': isXlScreen ? '5em' : '1em'}" [ngClass]="{'': isXlScreen, 'order-1': !isXlScreen}"></i>
      </a>
      <a class="btn swims-nav-button d-flex align-items-center p-3 mb-3" routerLink="statistics" [ngClass]="{' flex-column justify-content-center': isXlScreen, 'justify-content-start': !isXlScreen}">
        <span class="fs-4 ms-4 me-4" [ngClass]="{'': isXlScreen, 'order-2': !isXlScreen}">Reports</span>
        <i class="bi bi-bar-chart-fill" [ngStyle]="{'font-size': isXlScreen ? '5em' : '1em'}" [ngClass]="{'': isXlScreen, 'order-1': !isXlScreen}"></i>
      </a>
      <a class="btn swims-nav-button align-items-center d-flex p-3 mb-3" routerLink="" [ngClass]="{' flex-column justify-content-center': isXlScreen, 'justify-content-start': !isXlScreen}">
        <span class="fs-4 ms-4 me-4" [ngClass]="{'': isXlScreen, 'order-2': !isXlScreen}">Settings</span>
        <i class="bi bi-gear-fill" [ngStyle]="{'font-size': isXlScreen ? '5em' : '1em'}" [ngClass]="{'': isXlScreen, 'order-1': !isXlScreen}"></i>
      </a>
    </div>
  </div>
  <div class="d-grid w-100" *ngIf="isXlScreen || isNavbarCollapsed">
    <a class="btn swims-nav-button d-flex align-items-center p-3 mb-3" routerLink="" [ngClass]="{'flex-column justify-content-center': isXlScreen, 'justify-content-start': !isXlScreen}">
      <span class="fs-4 ms-4 me-4" [ngClass]="{'': isXlScreen, 'order-2': !isXlScreen}">Help</span>
      <i class="bi bi-question-circle-fill" [ngStyle]="{'font-size': isXlScreen ? '5em' : '1em'}" [ngClass]="{'': isXlScreen, 'order-1': !isXlScreen}"></i>
    </a>
    <a class="btn swims-nav-button" (click)="logout()">Log Out</a>
  </div>    
</nav>
