<div class="d-flex vh-100" [ngClass]="{'': isXlScreen, 'flex-column': !isXlScreen}">
    <div>
        <swims-navbar></swims-navbar>
    </div>
    <div class="flex-grow-1" style="background-color: #ababab;">
        <swims-breadcrumb></swims-breadcrumb>
        <form (submit)="uploadImage()">
            <input type="file" (change)="onFileSelected($event)" accept="image/png">
            <button type="submit">Upload</button>
          </form>
          <p *ngIf="message">{{ message }}</p>
    </div>
</div>