<div class="d-flex vh-100" [ngClass]="{'': isXlScreen, 'flex-column': !isXlScreen}">
    <div>
        <swims-navbar></swims-navbar>
    </div>
    <div class="flex-grow-1" style="background-color: #ababab;">
        <swims-breadcrumb></swims-breadcrumb>
        <h3 class="ms-5 mt-5 text-center" style="color: #444; border: 3px">Storage Space Reports</h3>
        <hr class="border-2">
        
        <div class="container mt-4">
            <div class="container mt-4">
                <div *ngIf="showAlert" class="alert alert-success alert-dismissible fade show" role="alert">
                    Reports page data is dynamically fetched from API ✅ 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="dismissAlert()"></button>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body" style="background-color: #eee;">
                                <h5 class="card-title">Total Items</h5>
                                <p class="card-text">{{ totalItems }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body" style="background-color: #eee;">
                                <h5 class="card-title">Average Items Per Storage Space</h5>
                                <p class="card-text">{{ averageItemsPerSpace }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body" style="background-color: #eee;">
                                <h5 class="card-title">Individual Storage Space Statistics</h5>
                                <table class="table" style="background-color: #eee;">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Storage Space Name</th>
                                            <th scope="col">Number of Items</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let space of storageSpaces; let i = index">
                                            <th scope="row">{{ i + 1 }}</th>
                                            <td>{{ space.name }}</td>
                                            <td>{{ space.itemNumber }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>